/* Universal selector. No inheritance. */
* {
  /* border-top: 10px solid *1098ad; */
  padding: 0;
  margin: 0;
}

/*
Not all properties are inherited.
Mostly ones related to text.
*/
body {
  border-top: 10px solid #1098ad;
  color: #444444;
  font-family: sans-serif;
}

article {
  margin-bottom: 60px;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 50px;
}

ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-weight: italic;
  margin-bottom: 0px;
}

li:nth-child(even) {
  /* color: red; */
}

aside {
  background-color: #f7f7f7;
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
  padding: 50px 0;
}

/* LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* nav a:link {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}

/* ul {
  list-style: none;
} */

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

/* Resolving conflicts. */
/* !important, inline, id, class/pseudo-class, element, universal */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */
